<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body class="login">
    <%- include('partials/header') %>

      <div class="content-form">
       
        <form class="row" method="POST">
          <div class="form-container">
            <div class="input-grupo">
              <label for="email">Ingresar Correo</label>
              <input
                class="form-control <%= locals.errors && (errors.email && 'is-invalid') %>"
                type="email"
                name="email"
                id="email"
                placeholder="Correo electrónico"
              />
              <small class="text-danger ms-2"
                ><%= locals.errors && (errors.email && errors.email.msg)
                %></small
              >
            </div>
            <div class="input-gr">
              <label for="password">Ingresar Clave</label>
              <input
              class="form-control"
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña"
              />
            </div>

            <div class="remember-pass"> 
            <div class="input-group-remember">
              <input type="checkbox" id="remember-pass" name="remember" />
              <label
                for="remember-pass"
                type="checkbox"
                value=""
                id="remember"
                name="remember"
                >Recordar Contraseña</label
              >
            </div>

            <div class="forgot-password">
              <a href="#">Olvide mi Clave</a>
            </div>
          </div>
            <small class="text-danger ms-2"
              ><%= locals.errors && (errors.password && errors.password.msg)
              %></small
            >

            <button class="login-button" type="submit">LOGIN</button>
          </div>
          <div class="register-container">
            <p>¿Aún no tienes cuenta?</p>
            <a href="/users/register">
              <h3> Registrate</h3>
            </a>
          </div>
  
          <p class="options">o continúa con</p>
          <div class="other-options">
        
            <button class="login__social-button">
              <i class="fa-brands fa-facebook"></i>
              Facebook
            </button>
            <button class="login__social-button">
              <i class="fa-brands fa-google-plus"></i>
              Google
            </button>
          </div>
          </form>
        </div>
        


    </main>

    

    <%- include('partials/footer') %>
  </body>
</html>
