<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main class="register__main">


        <div class="logo-container">
            <img src="/images/logoForm.png" alt="Logo">
        </div>

        <div class="content-container">
            <form  method="POST" >
               <div class="form-container">
                <div class="input-group">
                    <label class="form-label" for="name">Nombre</label>
                  <input
                    class="form-control  <%= locals.errors && (errors.name && 'is-invalid') %>"
                    type="text"
                    id="name"
                    name="name"
                    value="<%= locals.old && (old.name && old.name) %>"
                  />
                  <small class="ms-2 text-danger"><%= locals.errors && (errors.name && errors.name.msg) %></small>
                </div>
                <div class="input-group">
                    <label class="form-label" for="surname">Apellido</label>
                    <input
                      class="form-control <%= locals.errors && (errors.surname && 'is-invalid') %>"
                      type="text"
                      id="lastName"
                      name="lastName"
                      value="<%= locals.old && (old.surname&& old.surname) %>"
                    />
                    <small class="ms-2 text-danger"><%= locals.errors && (errors.surname && errors.surname.msg) %></small>
                </div>
                <div class="input-group">
                    <label class="form-label" for="email" >Correo</label>
                    <input
                      class="form-control <%= locals.errors && (errors.email && 'is-invalid') %>"
                      type="email"
                      id="email"
                      name="email"
                      placeholder="Correo electrónico"
                      value="<%= locals.old && (old.email && old.email) %>"
                    />
                    <small class="ms-2 text-danger"><%= locals.errors && (errors.email && errors.email.msg) %></small>
                </div> 
                <div class="input-group">
                    <label for="password">Ingresar Clave</label>
                    <input
                    class="form-control <%= locals.errors && (errors.password && 'is-invalid') %>"
                    type="password"
                    id="password"
                    name="password"
                  />
                  <small class="ms-2 text-danger"><%= locals.errors && (errors.password && errors.password.msg) %></small>
                </div>

                <div class="input-group">
                    <label for="password2">Repetir Clave</label>
                    <input
                    class="form-control <%= locals.errors && (errors.password2 && 'is-invalid') %>"
                    type="password"
                    id="password2"
                    name="password2"
                  />
                  <small class="ms-2 text-danger"><%= locals.errors && (errors.password2 && errors.password2.msg) %></small>

                </div>
                
                <div class="input-group-terms">
                    <input type="checkbox" id="terms">
                    <label for="terms">Acepta los Términos, Condiciones y Políticas de playerOne</label>
                </div>
                
            
                <button class="login-button" type="submit">REGISTRARSE</button>

               </div>

            
             </form> 
            <div class="other-options">
                <p>o continúa con</p>
                <button class="login__social-button">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook
                </button>
                <button class="login__social-button">
                    <i class="fa-brands fa-google-plus"></i>
                    Google
                </button>
            </div>

        </div>


    </main>

    <%- include('partials/footer') %>
    
</body>

</html>